<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P&A Farms</title>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <script src="https://kit.fontawesome.com/35e2b1034f.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Navbar section  -->
    <header>
        <img class="logo" src="/static/logo.jpg" alt="">
        <nav>
            <ul class="nav__links">
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            
        </nav>
        <a href="#"><button>contact</button></a>
    </header>
<!-- Front Banner -->
    <div class="front_banner">
     <!-- <img  class="fb" src="/static/image4.jpeg" alt="A poultry fowl">   -->
        <div class="banner_text">
            <h1 style="font-size: 45px;">Welcome Cherished customer.</h1>
            <p>
                Spend time to review our catalogue to find the best <br>
                service and products that meets your needs. P&A Farms <br>
                has got the best farm products for business services <br>
                and domestic consumption.
            </p>
        </div>
    </div>
    <div class="below">
        <!-- The sidebar Navigation -->
        <div class="wrapper">
            <div class="sidebar">
                <h2>Categories</h2>
                <Ul>
                    <li><a href="#"> <i class="fa-solid fa-layer-group"> </i>Product catalogue</a></li>
                    <li><a href="#"><i class="fa-solid fa-users-line"> </i>Staff Info</a></li>
                    <li><a href="#"><i class="fa-solid fa-cubes-stacked"> </i>Services</a></li>
                    <li><a href="#"><i class="fa-solid fa-comment-dots"> </i>Feedback</a></li>
                    <li><a href="#"><i class="fa-solid fa-phone"> </i>Contact</a></li>
                </Ul>
            </div>

            <div class="slider">
                
            </div>
        </div>
    </div>
</body>
</html>