<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P&A Farms</title>
    <link rel="stylesheet" href="/static/css/homepage.css">
</head>
<body>
    <!--Navbar section  -->
    <header>
        <img class="logo" src="/static/logo.jpg" alt="">
        <nav>
            <ul class="nav__links">
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            
        </nav>
        <a href="#"><button>contact</button></a>
    </header>
<!-- Front Banner -->
    <div class="front_banner">
     <!-- <img  class="fb" src="/static/image4.jpeg" alt="A poultry fowl">   -->
        <div class="banner_text">
            <h1 style="font-size: 45px;">Welcome Cherished customer.</h1>
            <p>
                Spend time to review our catalogue to find the best <br>
                service and products that meets your needs. P&A Farms <br>
                has got the best farm products for business services <br>
                and domestic consumption.
            </p>
        </div>
    </div>
</body>
</html>