<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P&A Farms</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <!-- Bootstrap JS and Popper.js -->


    <link rel="stylesheet" href="/static/css/homepage.css">
    <script src="https://kit.fontawesome.com/35e2b1034f.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-pzjw8U+4IqViZDz3Z9NzZwY4Jg5MYYsPFPqzDbrpkp4Lc1NQODQfaQQSmvtnFABG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyD8/J9H5AjG6L3ZfBfaWgIE00jFMIlRj4" crossorigin="anonymous"></script>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myCarousel = new bootstrap.Carousel(document.querySelector('#carouselExampleCaptions'), {
                interval: 2000, // Set the interval time in milliseconds
                wrap: true, // Set to false if you don't want to wrap around the items
            });
        });
    </script>
    
    
    <!--Navbar section  -->
    <header>
        <img class="logo" src="/static/logo.jpg" alt="">
        <nav>
            <ul class="nav__links">
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            
        </nav>
        <a href="#"><button>contact</button></a>
    </header>
<!-- Front Banner -->
    <div class="front_banner">
        <div class="overlay"></div>
     <!-- <img  class="fb" src="/static/image4.jpeg" alt="A poultry fowl">   -->
        <div class="banner_text">
            <h1 style="font-size: 45px;">Welcome Cherished customer.</h1>
            <p style="color: #ffff;">
                Spend time to review our catalogue to find the best <br>
                service and products that meets your needs. P&A Farms <br>
                has got the best farm products for business services <br>
                and domestic consumption.
            </p>
            
        </div>
    </div>
    <div class="below">
        <!-- The sidebar Navigation -->
        <div class="wrapper">
            <div class="sidebar">
                <h2>Categories</h2>
                <Ul>
                    <li><a href="#"> <i class="fa-solid fa-layer-group"> </i><span>Product catalogue</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-users-line"> </i><span>Staff Info</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-cubes-stacked"> </i><span>Services</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-comment-dots"> </i><span>Feedback</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-phone"> </i><span>Contact</span></a></li>
                </Ul>
            </div>

            <!-- News -->
        <!-- <div id="news"> -->
            <section class="container">
                <div class="slider-wrapper">
                    <div class="slider">
                        <img id="slide-1" src="/static/veggies.jpg" alt="An image of vegetable fruits">
                        <img id="slide-2" src="/static/meat.jpg" alt="An image of vegetable fruits">
                        <img id="slide-3" src="/static/cereals.jpg" alt="An image of vegetable fruits">
                    </div>

                    <div class="slider-nav">
                        <a href="slide-1"></a>
                        <a href="slide-2"></a>
                        <a href="slide-3"></a>
                    </div>
                </div>
            </section>
            
            
        <!-- </div> -->
        </div>
        
    </div>
    
    <!-- Bootstrap cards -->
    <h1>FACTS ABOUT P&A FARMS</h1>
    <div class="b-cards">
        <div class="card" style="width: 18rem; margin: 20px;">
            <img src="/static/24.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Round-the-Clock Care and Service: Experience Peace of Mind with P-A Farms' 24-Hour Support and Assistance.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 20px;">
            <img src="/static/staff.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Dedicated to Unwavering Excellence: Our Highly Trained and Compassionate Staff Ensures Exceptional Service 24/7 .</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 20px;">
            <img src="/static/protein.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Elevating Protein Production to Its Zenith: Our Highly Trained and Compassionate Staff Ensures Exceptional Service 24/7, Making Protein Production at Its Best a Reality .</p>
            </div>
        </div>
    </div>
    <h1>WHY CHOOSE US</h1>
    <div class="boxes">
        <div class="box1">
            <img id="img" style="width: 90px;height: 90px;" src="/static/delivery1.png" alt="">
            <h4>Fast delivery</h4>
        </div>

        <div class="box1" style="background-color: #f5f5f5;">
            <img id="img" style="width: 90px;height: 90px;" src="/static/quality.png" alt="">
            <h4>Quality service</h4>
        </div>

        <div class="box1">
            <img id="img" style="width: 90px;height: 90px;" src="/static/eggs.png" alt="">
            <h4>Affordable products</h4>
        </div>

        <div class="box1" style="background-color: #f5f5f5;">
            <img id="img" style="width: 90px;height: 90px;" src="/static/money.png" alt="">
            <h4>Easy payment plans</h4>
        </div>
         
    </div>

    <div class="footer">
        <div class="col1">
            <h3>P&A FARMS</h3>
            <a href="#">About</a>
            <a href="#">Products</a>
            <a href="#">Contact</a>
        </div>
        <div class="col2">
            <h3>FEEDBACKS</h3>
            <form action="#">
                <input type="text" placeholder="You can leave your comments here">
                <br>
                <button type="button" class="btn btn-success">Submit</button>
            </form>
            <h6 style="margin-top: 40px;">&copy;2023</h6>
        </div>
        <div class="col3">
            <H3>LOCATION</H3>
            <p style="color: #fff;">123,XYZ Road, Bk <br>Accra, Ghana.</p>
            <div class="socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
</body>
</html>